@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#FFFFFF] overflow-x-hidden;
}

.container {
  @apply max-w-screen-5xl px-3 md:px-8 lg:px-24 xl:px-28 2xl:px-32 3xl:px-40 4xl:px-52 5xl:px-72 mx-auto;
}



/* Big screen size Media Query */
@media screen and (min-width: 1400px) {
  .custom-container {
    width: 100%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1600px) {
  .custom-container {
    width: 100%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1921px) {
  .custom-container {
    width: 1920px;
    margin: 0 auto;
  }
}
